<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<P>
tmp = <%= @tmp %>
</P>

<P>
tmp2 = <%= @tmp2 %>
</P>

<P>
rc = <%= @rc %>
</P>

<P>
inp = <%= @testsource %>
</P>

<P>
testsource2 = <%= @testsource2 %>
</P>

<P>
out = <%= @outs %>
</P>

<P>
args = <%= @args %>
</P>

<P>
err = <%= @errs %>
</P>

<P>
count = <%= @count %>
</P>

<P>
plist1 = <%= @plist1 %>
</P>

<P>
plist2 = <%= @plist2 %>
</P>